@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;1,300;1,500&display=swap');
:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --myBackGround : #c3324d;
    --borderColor: #ccc;
    --boxShadow: 0 0 16px rgba(0,0,0.2);
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
}
.upperDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F7FAFC;
    background-color: #6B46C1;
    width: 100%;
    padding: 40px 0px 200px;
}
.upperDiv h1{
    line-height: 130%;
    font-size: 48px;
}
.upperDiv p{
    line-height: 40px;
    font-size: 24px;
}
.subscriptionModal{
    display: flex;
    border: none;
    outline: none;
    border-radius: 12px;
    margin-top: -150px;
    background-color: #FFFFFF;
    box-shadow: 0 0 8px rgba(0,0,0.4);
    max-width: 90%;
    overflow: hidden;
}
.subscriptionModal .subscriptionPrice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    padding: 20px;
}
.subscriptionModal .subscriptionPrice p#premium{
    font-size: 24px;
    font-weight: 600;
}
.subscriptionModal .subscriptionPrice p#price{
    font-size: 60px;
    font-weight: 800;
}
.subscriptionModal .subscriptionPrice p#billing{
    font-size: 18px;
}
.subscriptionModal .subscriptionPrice button{
    min-width: 250px;
    height: 51px;
    background-color: #805AD5;
    color: #F7FAFC;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}
.subscriptionModal .subscriptionText{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.subscriptionModal .subscriptionText p#header{
    padding-bottom: 20px;
}
.subscriptionModal .subscriptionText p{
    font-size: 18px;
    color: #2D3748;
    
}
.subscriptionModal .subscriptionText .premiumOffer{
    display: flex;
    padding-bottom: 10px;
}
.subscriptionModal .subscriptionText .premiumOffer p{
    padding-left: 15px;
}
.subscriptionModal .subscriptionText .premiumOffer img{
    max-height: 20px;
}

.lowerDiv{
    display: flex;
    justify-content: center;
    /* border: 2px solid green; */
}
.lowerDiv .offers{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.lowerDiv .offers img{
    width: 40px;
    height: 30px;
}
.lowerDiv .offers span{
    font-size: 14px;
    padding-left: 15px;
    padding-top: 5px;
    font-weight: 600;
    max-width: 220px;
    line-height: 24px;
}
/* Tablet View */
@media only screen and (max-width: 860px){
    .upperDiv h1{
        line-height: 130%;
        font-size: 30px;
    }
    .upperDiv p{
        font-size: 18px;
    }
    .subscriptionModal .subscriptionText p{
        font-size: 14px;
    }
}

/* Mobile View */
@media only screen and (max-width: 650px){
    .container{
        padding-bottom: 50px;
    }
    .upperDiv{
        padding: 40px 10px 200px;
    }
    .upperDiv p{
        line-height: 30px;
    }
    .subscriptionModal{
        flex-direction: column;
    }
    .subscriptionModal .subscriptionPrice p#price{
        font-size: 48px;
        font-weight: 700;
    }
    .subscriptionModal .subscriptionText .premiumOffer p{
       max-width: 340px;
    }
    .lowerDiv{
        flex-direction: column;
    }
    .lowerDiv .offers{
        justify-content: flex-start;
    }
    .lowerDiv .offers span{
        max-width: 376px;
    }
}
